@model TWTodos_ASP.NET.Models.Todo;

<h1>@ViewData["Title"]</h1>

<p>Tem certeza que deseja excluir a tarefa <strong>@Model.Title</strong>?</p>

<form method="POST">
    <button type="submit" class="btn btn-danger">
        Excluir
    </button>
    <a asp-asp-controller="Todo" asp-action="Index" class="btn btn-primary">Cancelar</a>
</form>