@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Essa é uma aplicação para Gerenciamento de Tarefas, desenvolvida com C#, ASP.NET e Bootstrap</p>
</div>
